/* =Forms
-----------------------------------------------------------------------------*/
form {
  margin-bottom: 24px;
}
select[multiple="multiple"],
textarea {
  width: 100%;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  padding: 0.9rem 1rem;
  line-height: 1;
  height: 40px;
  outline: none;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
}
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="text"][disabled],
input[type="tel"][disabled],
input[type="url"][disabled],
input[type="password"][disabled],
textarea[disabled],
select[disabled] {
  resize: none;
  opacity: 0.55;
  cursor: default;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
}
select[multiple],
textarea {
  height: auto;
  line-height: 1.5;
}
textarea {
  font-size: 15px;
}
textarea:focus,
select:focus,
input:focus {
  outline: none;
  background: #ffffff;
  border: 1px solid #222222;
}
fieldset {
  padding: 31px 32px;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
fieldset *:last-child {
  margin-bottom: 0 !important;
}
legend {
  font-weight: 500;
  font-size: 86%;
  text-transform: uppercase;
  padding: 0 1em;
  margin-left: -1em;
  top: 2px;
  position: relative;
  line-height: 0;
}
form section {
  display: block;
}
form section,
form p {
  margin-bottom: 24px;
}
form textarea,
form select,
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="text"],
form input[type="tel"],
form input[type="url"],
form input[type="password"] {
  width: 100%;
  display: block;
}
form label {
  font-size: 94%;
  display: block;
}
form label.checkbox {
  text-transform: none;
  font-weight: normal;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}
form .label-top {
  padding-top: 24px;
}
form .checkbox-list {
  display: block;
}
form .checkbox-list label {
  font-size: inherit;
  color: inherit;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 16px;
  text-transform: none;
  font-weight: normal;
}
form .checkbox-list-vertical .checkbox {
  margin-bottom: 8px;
}
form .checkbox-list-vertical .checkbox:last-child {
  margin-bottom: 0;
}
