<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../css/helpers.css" media="screen" />
    <link rel="stylesheet" href="../css/rocketbase-button.css" media="screen" />
  </head>
  <body text="helvetica gray-80">

    <div text=".7em gray-40" style="margin-bottom:30px; border-bottom:1px solid #999">
      &lt;body text="helvetica gray-80">
    </div>

    <h2>HTML Puro + Componente</h2>
    <p>
      Os botões se adaptam a cor do fundo.
    </p>
    <table border="1" cellpadding="10">
      <tr>
        <td>
          <code>&lt;a type="button">button tag&lt;/a></code>
        </td>
        <td>
          <a type="button">button tag</a>
        </td>
        <td layout="blue">
          <a type="button">button tag</a>
        </td>
        <td layout="orange">
          <a type="button">button tag</a>
        </td>
        <td layout="red">
          <a type="button">button tag</a>
        </td>
      </tr>
      <tr>
        <td>
          <code>&lt;button>button tag&lt;/button></code>
        </td>
        <td>
          <button>button tag</button>
        </td>
        <td layout="blue">
          <button>button tag</button>
        </td>
        <td layout="orange">
          <button>button tag</button>
        </td>
        <td layout="red">
          <button>button tag</button>
        </td>
      </tr>
      <tr>
        <td>
          <code>&lt;button type="outline">button tag&lt;/button></code> <br />
          <code>&lt;a type="outline button"> tag&lt;/a></code>
        </td>
        <td>
          <button type="outline">button tag</button>
        </td>
        <td layout="blue">
          <button type="outline">button tag</button>
        </td>
        <td layout="orange">
          <button type="outline">button tag</button>
        </td>
        <td layout="red">
          <button type="outline">button tag</button>
        </td>
      </tr>
      <tr>
        <td>
          <code>&lt;button type="outline light">button tag&lt;/button></code> <br />
          <code>&lt;a type="outline light button"> tag&lt;/a></code>
        </td>
        <td layout="black">
          <button type="outline light">button tag</button>
        </td>
        <td layout="navy">
          <button type="outline light">button tag</button>
        </td>
        <td layout="orange">
          <button type="outline light">button tag</button>
        </td>
        <td layout="red">
          <button type="outline light">button tag</button>
        </td>
      </tr>
    </table>
    <br />

    <h2>+ Helpers</h2>
    <p>
      Botões com cores diferentes e comportamentos
    </p>
    <table border="1" cellpadding="10">
      <tr>
        <td>
          <code>&lt;a type="button" layout="blue">button tag&lt;/a></code>
        </td>
        <td>
          <a type="button" layout="blue">button tag</a>
        </td>
      </tr>
      <tr>
        <td>
          <code>&lt;a type="button" layout="blue" <b>onhover="fadeOut"</b>>button tag&lt;/a></code>
        </td>
        <td>
          <a type="button" layout="blue" onhover="fadeOut">button tag</a>
        </td>
      </tr>
      <tr>
        <td>
          <code>&lt;a type="button" layout="blue" <b>disabled</b>>button tag&lt;/a></code>
        </td>
        <td>
          <a type="button" layout="blue" disabled>button tag</a>
        </td>
      </tr>
      <tr>
        <td>
          <code>&lt;a type="button" <b>layout="red"</b> onhover="fadeOut">button tag&lt;/a></code>
        </td>
        <td>
          <a type="button" layout="red" onhover="fadeOut">button tag</a>
        </td>
      </tr>
    </table>

  </body>
</html>
