<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link id="css_test" rel="stylesheet" href="" media="screen" />
  <style>
  body { color: #000; }
  </style>
</head>

<body style="padding-top:30px" text="ubuntu .9em line-1.5 gray-90">

  <pre id="helper_info" layout="right" style="display:none">
    <code>Apenas com o código: &lt;body text="ubuntu .9em line-1.5 gray-90"></code>
  </pre>

  <h1>h1 <small>small h1</small> </h1>
  <h2>h2 <small>small h2</small> </h2>
  <h3>h3 <small>small h3</small> </h3>
  <h4>h4 <small>small h4</small> </h4>
  <h5>h5 <small>small h5</small> </h5>
  <h6>h6 <small>small h6</small> </h6>

  <h3>Body copy</h3>
  <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Delegadis gente finis, bibendum egestas augue arcu ut est. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!</p>
  <p> <strong>strong tag</strong>, <b>b tag</b>, <em>em tag</em>, <i>italic tag</i>, <u>underline tag</u>
  </p>
  <p>Mussum Ipsum, cacilds vidis litro abertis. Si num tem leite então bota uma pinga aí cumpadi! Delegadis gente finis, bibendum egestas augue arcu ut est. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!</p>
  <p> <strong>strong tag</strong>, <b>b tag</b>, <em>em tag</em>, <i>italic tag</i>, <u>underline tag</u>
  </p>
  <figcaption>Hello, world!</figcaption>
  <blockquote>
    <p>
      "Capitalism? More like CRAPitalism, am I right?"
    </p>
    <cite>- Karl Marx, probably.</cite>
  </blockquote>

  <h3>Code</h3> <pre>
  <code>
  pre {
    background: #efefef;
    color: #444;
    display: block;
    font-family: Menlo, monospace;
    font-size: 1.4rem;
    margin-bottom: .8remrem;
    padding: 1.6rem;
    word-break: break-all;
    word-wrap: break-word;
  }
  code {
    background: #efefef;
    color: #444;
    font-family: Menlo, monospace;
    font-size: 1.4rem;
    word-break: break-all;
    word-wrap: break-word;
  }
  </code>
</pre>

  <h3>Lists</h3>
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Vestibulum auctor dapibus neque.</li>
  </ul>
  <ol>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Vestibulum auctor dapibus neque.</li>
  </ol>
  <dl> <dt>Lorum Ipsum</dt>
    <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd> <dt>Lorum Ipsum</dt>
    <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
  </dl>

  <h2>Buttons</h2>
  <input type=submit value="Input Submit">
  <button>Button</button>
  <a href="#">
    <button>Button Link</button>
  </a>
  <button disabled>Disabled Button</button>

  <h2>Forms</h2>
  <form>
    <h3>Text Inputs</h3>
    <label for=name>Text Input:</label>
    <input name=name id=name tabindex=1 placeholder="Text Input">
    <br>
    <label for=textarea>Textarea:</label>
    <textarea rows=4 cols=27 id=textarea placeholder="Text Area"></textarea>

    <h3>Radio Buttons</h3>
    <label for=radio-choice-1>Radio 1:</label>
    <input type=radio name=radio-1 id=radio-1 tabindex=1 value=radio-1 />
    <br>
    <label for=radio-2>Radio 2:</label>
    <input type=radio name=radio-2 id=radio-2 tabindex=2 value=radio-2 />

    <h3>Checkbox Buttons</h3>
    <label for=checkbox>Checkbox 1:</label>
    <input type=checkbox name=checkbox id=checkbox />
    <br>
    <label for=checkbox>Checkbox 2:</label>
    <input type=checkbox name=checkbox id=checkbox />

    <h3>Dropdown Choices</h3>
    <label for=select-choice>Select Dropdown Choice:</label>
    <select name=select-choice id=select-choice>
      <option value="Choice 1">Choice 1</option>
      <option value="Choice 2">Choice 2</option>
      <option value="Choice 3">Choice 3</option>
    </select>
    <br>

    <input type=submit value=Submit> </form>
  <h2>Tables</h2>
  <table>
    <thead>
      <tr>
        <th>One</th>
        <th>Two</th>
        <th>Three</th>
        <th>Four</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
        <td>Four</td>
      </tr>
      <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
        <td>Four</td>
      </tr>
      <tr>
        <td>One</td>
        <td>Two</td>
        <td>Three</td>
        <td>Four</td>
      </tr>
    </tbody>
  </table>

  <table border="1">
    <tbody>
      <tr>
        <td><abbr title="Cascading Style Sheets">CSS</abbr>
        </td>
        <td><code>&lt;abbr&gt;</code>
        </td>
        <td><cite>Cite</cite>
        </td>
        <td><code>&lt;cite&gt;</code>
        </td>
      </tr>
      <tr>
        <td><code>Code tag</code>
        </td>
        <td><code>&lt;code&gt;</code>
        </td>
        <td><samp>Sample tag</samp>
        </td>
        <td><code>&lt;samp&gt;</code>
        </td>
      </tr>
      <tr>
        <td><var>Variable tag</var>
        </td>
        <td><code>&lt;var&gt;</code>
        </td>
        <td>
          <mark>Mark text</mark>
        </td>
        <td><code>&lt;mark&gt;</code>
        </td>
      </tr>
      <tr>
        <td><kbd>Shortcut</kbd>
        </td>
        <td><code>&lt;kbd&gt;</code>
        </td>
        <td><del>Deleted</del>
        </td>
        <td><code>&lt;del&gt;</code>
        </td>
      </tr>
      <tr>
        <td><i>Italic</i>
        </td>
        <td><code>&lt;i&gt;</code>
        </td>
        <td><em>Emphasis</em>
        </td>
        <td><code>&lt;em&gt;</code>
        </td>
      </tr>
      <tr>
        <td><strong>Highlighted</strong>
        </td>
        <td><code>&lt;strong&gt;</code>
        </td>
        <td><b>Bold</b>
        </td>
        <td><code>&lt;b&gt;</code>
        </td>
      </tr>
      <tr>
        <td>x<sup>superscript</sup>
        </td>
        <td><code>&lt;sup&gt;</code>
        </td>
        <td>x<sub>subscript</sub>
        </td>
        <td><code>&lt;sub&gt;</code>
        </td>
      </tr>
    </tbody>
  </table>

  </body>
</html>
